.main_chat
  .main_chat__header
    .main_chat__header__box
      .main_chat__header__box__group
        %div= @group.name
        - @group.users.each do |user|
          %span= user.name
      .header_edit
        =link_to "Edit", edit_group_path(@group), class:"header_edit__btn"
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          <i class="fas fa-image"></i>
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'