.side_bar
  .side_bar__header
    .side_bar__header__items
      %p.user_name
        = current_user.name
      %ul.menu
        %li.edit_user
          = link_to new_group_path do
            %i(class="far fa-edit")
        %li.new_group
          = link_to edit_user_path(current_user) do
            %i(class="fas fa-cog")
  .side-list
    - current_user.groups.each do |group|
      .side-list__group
        = link_to group_messages_path(group) do
          .side-list__group__name
            = group.name
          .side-list__group__text
            = group.show_last_message